# ignore filenames starting with underscore except when ending with __.py
_*
!*__.py

# dev files and folders
venv
.vscode
__pycache__
.history
dataset
ckpts

# temp, remove after starting the project
checkpoints
data
results